In [11]:
import pandas as pd
import datetime 
from datetime import timedelta
import numpy as np
import pickle
from scipy import spatial
import itertools
from scipy import signal
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import urllib2 
import urllib
import operator
import string
from bokeh.layouts import gridplot
from bokeh.plotting import figure, show, output_file
from bokeh.embed import components 
from bokeh.io import hplot

In [5]:
#READ IN THE YELP FILES to a pandas data frame
user = pd.read_csv("yelp_academic_dataset_user.csv", index_col = 'user_id')
print "user read-in complete"
print(user.shape)

business = pd.read_csv("yelp_academic_dataset_business.csv", na_filter=False, index_col = 'business_id')
print "business read-in complete"
print(business.shape)

reviews = pd.read_csv("yelp_academic_dataset_review.csv", index_col = 'review_id')
print "reviews read-in complete"
print(reviews.shape)

user read-in complete
(552339, 22)
business read-in complete
(77445, 97)
reviews read-in complete
(2225213, 9)

In [2]:
transformer = TfidfTransformer() #to do tfidf weighting on all of the bag_of_words vectors
nreturn = 10
nplot = 5

#reviews = pd.read_pickle('reviews_random')
reviews = pd.read_pickle('rev_and_business')
print reviews[0:5]

              business_id       date  day  month  stars  \
0  5UmKMjUEUNdYWqANhGckJw 2012-08-01    1      8      4
1  5UmKMjUEUNdYWqANhGckJw 2014-02-13   13      2      5
2  5UmKMjUEUNdYWqANhGckJw 2015-10-31   31     10      5
3  WaHXyBwljbKNPmmJZn5j8Q 2012-08-01    1      8      3
4  WaHXyBwljbKNPmmJZn5j8Q 2014-07-26   26      7      3

                                          text_clean  year business_name  \
0  mr hoagie institution walking seem like throwb...  2012     Mr Hoagie
1  excellent food superb customer service miss ma...  2014     Mr Hoagie
2  yes place little dated opened weekend staff al...  2015     Mr Hoagie
3                                          shop save  2012  Shop 'n Save
4  living alone love deals meat also love faygo p...  2014  Shop 'n Save

   business_stars          city state
0             4.5    Dravosburg    PA
1             4.5    Dravosburg    PA
2             4.5    Dravosburg    PA
3             3.0  West Mifflin    PA
4             3.0  West Mifflin    PA

In [6]:
my_city = 'Las Vegas'
#my_city = 'Los Angeles'

In [63]:
#output_notebook()

In [7]:
business.head(3)['latitude']
business_subset = business[business['city'] == my_city]
lat_avg = business_subset['latitude'].mean()
lon_avg = business_subset['longitude'].mean()
my_lat = business_subset['latitude']
my_lon = business_subset['longitude']
my_stars =  business_subset['stars']

def pick_color(x): 
    if x >= 4: 
        return 'green'
    if x >= 3 and x < 4:
        return 'blue'
    if x >= 2 and x < 3:
        return 'yellow'
    if x < 2:
        return 'red'
    

my_colors_stars = list(map(pick_color, my_stars))

my_lat = np.array(my_lat)
my_lon = np.array(my_lon)
my_stars = np.array(my_stars)

In [13]:
def pick_cuisine(x): 
    found = 0
    if 'American' in x or "Steakhouse" in x or 'Burger' in x or 'Sandwich' in x: 
        found = 1
        return 'green'
    if 'Mexican' in x:
        found = 1
        return 'blue'
    if 'Italian' in x:
        found = 1
        return 'red'
    if 'Chinese' in x:
        found =1
        return 'orange'
    if 'Japanese' in x or 'Sushi' in x: 
        found = 1
        return 'yellow'
    if found == 0:
        return 'clear'
    
my_categories = business_subset['categories'].tolist()

my_colors_cuisine = list(map(pick_cuisine, my_categories))

In [48]:
def pick_type(x): 
    found = 0
    if 'Nightlife' in x or "Bars" in x: 
        found = 1
        return 'green'
    if 'Fast Food' in x:
        found = 1
        return 'blue'
    if 'Coffe' in x or 'Cafe' in x:
        found = 1
        return 'red'
    if 'Brunch' in x:
        found = 1
        return 'orange'
    if 'Bakeries' in x or 'Ice Cream' in x:
        found = 1
        return 'yellow'
    if found == 0:
        return 'clear'

my_categories = business_subset['categories'].tolist()

my_colors_type = list(map(pick_cuisine, my_categories))

In [14]:
from bokeh.models import ColumnDataSource, Range1d, LabelSet, Label

API_KEY="AIzaSyBQe-vggEelYAQ3LzTtBISKmZ_UOF4R7UE"
#API_KEY="AIzaSyBBnuiTCx-7ONnpQx-xO8_oLIAfZus0z8k"


from bokeh.io import output_file, show
from bokeh.models import (
  GMapPlot, GMapOptions, ColumnDataSource, Circle, DataRange1d, PanTool, WheelZoomTool, BoxSelectTool
)


map_options = GMapOptions(lat=lat_avg, lng=lon_avg, map_type="roadmap", zoom=11)

plot = GMapPlot(
    x_range=DataRange1d(), y_range=DataRange1d(), map_options=map_options, api_key=API_KEY
)
plot.title.text = my_city

#which_one = 'stars'
which_one = 'cuisine'
#which_one = 'type'

if which_one == 'stars':
    my_colors = my_colors_stars
if which_one == 'cuisine':
    my_colors = my_colors_cuisine
if which_one = 'type':
    my_colors = my_colors_type

source = ColumnDataSource( data=dict(lat = my_lat, lon = my_lon, stars = my_stars, the_colors=my_colors))

circle = Circle(x="lon", y="lat", size=5, fill_color="the_colors", fill_alpha=0.2, line_color=None)
plot.add_glyph(source, circle)

if which_one == 'stars':
    label1 = Label(x=440, y=530, x_units='screen', y_units='screen', text='green: 4-5 stars', render_mode='css', border_line_color='white', background_fill_color='white')
    label2 = Label(x=440, y=510, x_units='screen', y_units='screen', text='blue:  3-4 stars', render_mode='css', border_line_color='white', background_fill_color='white')
    label3 = Label(x=440, y=490, x_units='screen', y_units='screen', text='yellow:   2-3 stars', render_mode='css', border_line_color='white', background_fill_color='white')
    label4 = Label(x=440, y=470, x_units='screen', y_units='screen', text='red: < 2 stars', render_mode='css', border_line_color='white', background_fill_color='white')

if which_one == 'cuisine':
    label1 = Label(x=440, y=530, x_units='screen', y_units='screen', text='green: American', render_mode='css', border_line_color='white', background_fill_color='white')
    label2 = Label(x=440, y=510, x_units='screen', y_units='screen', text='blue:  Mexican', render_mode='css', border_line_color='white', background_fill_color='white')
    label3 = Label(x=440, y=490, x_units='screen', y_units='screen', text='red: Italian', render_mode='css', border_line_color='white', background_fill_color='white')
    label4 = Label(x=440, y=470, x_units='screen', y_units='screen', text='orange: Chinese', render_mode='css', border_line_color='white', background_fill_color='white')
    label5 = Label(x=440, y=450, x_units='screen', y_units='screen', text='yellow: Japanese', render_mode='css', border_line_color='white', background_fill_color='white')

if which_one == 'type':
    label1 = Label(x=440, y=530, x_units='screen', y_units='screen', text='green: Bars', render_mode='css', border_line_color='white', background_fill_color='white')
    label2 = Label(x=440, y=510, x_units='screen', y_units='screen', text='blue:  Fast Food', render_mode='css', border_line_color='white', background_fill_color='white')
    label3 = Label(x=440, y=490, x_units='screen', y_units='screen', text='red: Cafes', render_mode='css', border_line_color='white', background_fill_color='white')
    label4 = Label(x=440, y=470, x_units='screen', y_units='screen', text='orange: Brunch', render_mode='css', border_line_color='white', background_fill_color='white')
    label5 = Label(x=440, y=450, x_units='screen', y_units='screen', text='yellow: Dessert', render_mode='css', border_line_color='white', background_fill_color='white')

plot.add_layout(label1)
plot.add_layout(label2)
plot.add_layout(label3)
plot.add_layout(label4)
if which_one != 'stars':
    plot.add_layout(label5)

plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
show(plot)

In [88]:
##Find top categories
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction import DictVectorizer
import re

x1 = business['categories']
cat_dict = []

for i in range(0,len(x1)):
    cat_list = x1[i]
    cat_list = re.sub("'", "", cat_list)
    cat_list = re.sub("\&", "", cat_list)
    cat_list = cat_list.strip('\'')
    cat_list = cat_list.strip('\"')
    cat_list = cat_list.strip('[')
    cat_list = cat_list.strip(']')
    cat_list = re.split(',\s+', cat_list)
    one_array = np.ones(len(cat_list))
    x_out = {cat_list:one_array for cat_list, one_array in zip(cat_list, one_array)}
    cat_dict.append(x_out)

v = DictVectorizer(sparse=False)
X = v.fit_transform(cat_dict)
#print v.vocabulary_
vocab = v.get_feature_names()
#print vocab

print X.shape
print len(x1)
print len(vocab)

cat_count = np.zeros(X.shape[1])
print len(cat_count)

for i in range(len(vocab)):
    cat_count[i] = X[:,i].sum()  

count_dict = dict(zip(vocab, cat_count))   
sorted_count_dict = sorted(count_dict.items(), key=operator.itemgetter(1),reverse=True)
categ, freq = zip(*sorted_count_dict)
print categ[0:100]
print freq[0:100]
#count_dict = dict(zip(vocab, dist))
#sorted_count_dict = sorted(count_dict.items(), key=operator.itemgetter(1),reverse=True)
#word, freq = zip(*sorted_count_dict)

(77445, 897)
77445
897
897
('Restaurants', 'Shopping', 'Food', 'Beauty  Spas', 'Health  Medical', 'Nightlife', 'Home Services', 'Bars', 'Automotive', 'Local Services', 'Active Life', 'Fashion', 'Event Planning  Services', 'Fast Food', 'Pizza', 'Mexican', 'Hotels  Travel', 'American (Traditional)', 'Sandwiches', 'Arts  Entertainment', 'Coffee  Tea', 'Hair Salons', 'Italian', 'Burgers', 'Auto Repair', 'Doctors', 'Nail Salons', 'Chinese', 'American (New)', 'Home  Garden', 'Pets', 'Fitness  Instruction', 'Hotels', 'Grocery', 'Real Estate', 'Breakfast  Brunch', 'Dentists', 'Specialty Food', '"Womens Clothing"', 'Bakeries', 'Professional Services', 'Ice Cream  Frozen Yogurt', 'Cafes', 'Financial Services', 'Pubs', 'Pet Services', 'Japanese', 'General Dentistry', 'Sports Bars', 'Sushi Bars', 'Apartments', 'Education', 'Convenience Stores', 'Gyms', 'Sporting Goods', 'Skin Care', 'Cosmetics  Beauty Supply', 'Desserts', 'Chicken Wings', 'Delis', 'Day Spas', 'Hair Removal', 'Seafood', 'Drugstores', '"Mens Clothing"', 'Massage', 'Tires', 'Accessories', 'Flowers  Gifts', 'Lounges', 'Steakhouses', 'Jewelry', 'Mags', 'Music  Video', 'Books', 'Oil Change Stations', 'Arts  Crafts', 'Department Stores', 'Mediterranean', 'Dry Cleaning  Laundry', 'Barbeque', 'Gas  Service Stations', 'Barbers', 'Trainers', 'Asian Fusion', 'Banks  Credit Unions', 'Thai', 'Public Services  Government', 'Wine  Spirits', 'Beer', 'Furniture Stores', 'Pet Groomers', 'Veterinarians', 'Auto Parts  Supplies', 'Venues  Event Spaces', 'Cosmetic Dentists', 'French', 'Performing Arts', 'Optometrists', 'Shoe Stores')
(25071.0, 11233.0, 9250.0, 6583.0, 5121.0, 5088.0, 4785.0, 4328.0, 4208.0, 3468.0, 3103.0, 3078.0, 2975.0, 2851.0, 2657.0, 2515.0, 2495.0, 2416.0, 2364.0, 2271.0, 2199.0, 2091.0, 1848.0, 1774.0, 1716.0, 1694.0, 1667.0, 1629.0, 1593.0, 1586.0, 1497.0, 1442.0, 1431.0, 1424.0, 1424.0, 1369.0, 1195.0, 1150.0, 1138.0, 1115.0, 1025.0, 1018.0, 1002.0, 875.0, 874.0, 870.0, 848.0, 823.0, 818.0, 798.0, 761.0, 750.0, 740.0, 734.0, 729.0, 720.0, 700.0, 700.0, 684.0, 682.0, 679.0, 672.0, 665.0, 664.0, 655.0, 642.0, 633.0, 631.0, 611.0, 599.0, 598.0, 586.0, 584.0, 584.0, 584.0, 582.0, 581.0, 572.0, 571.0, 570.0, 552.0, 548.0, 546.0, 533.0, 531.0, 529.0, 525.0, 525.0, 516.0, 516.0, 513.0, 511.0, 504.0, 476.0, 473.0, 471.0, 461.0, 456.0, 454.0, 435.0)

In [73]:
###CALCULATE LENGTH OF TIME BUSINESS HAS BEEN OPEN AND RATE AT WHICH REVIEWS COME IN
### also create column denoting whether business is a restaurant

is_restaurant = []
review_rate = np.zeros(len(business))
days_open = np.zeros(len(business))
first_date = np.arange('2005-01-01', '2220-01-01', dtype='datetime64[D]')
last_date  = np.arange('2005-01-01', '2220-01-01', dtype='datetime64[D]')

reviews_dates = pd.DataFrame({'business_id': reviews['business_id'],
                             'date': reviews['date'] }, 
                             index = reviews.index)

reviews_dates_max = reviews_dates.groupby('business_id').max()
reviews_dates_min = reviews_dates.groupby('business_id').min()
print len(reviews_dates_max)
print len(business)
print len(first_date)

bus_id = business.index[0]
print reviews_dates_max[reviews_dates_max.index == bus_id]['date']

for i in range(len(business)):
    bus_id = business.index[i]
    if 'Food' in business['categories'][i] or 'Restaurant' in business['categories'][i]: 
        is_restaurant.append(True)
    elif  'offee' in business['categories'][i] or 'Bars' in business['categories'][i] or 'Nightlife' in business['categories'][i]:
        is_restaurant.append(True)
    else:
        is_restaurant.append(False)
    try:
        first_date[i] = max(reviews_dates_min[reviews_dates_max.index == bus_id]['date'])
        last_date[i] = min(reviews_dates_max[reviews_dates_max.index == bus_id]['date'])
        delta = last_date[i] - first_date[i]
        delta = delta / np.timedelta64(1, 'D')
        days_open[i] = delta 
        if delta > 0:
            review_rate[i] = float(business['review_count'][i]) / delta * 30
    except:
        pass
    if i %1000 == 0:
        print "i =", i, 'first_date = ', first_date[i], 'last_date =', last_date[i], 'delta=', delta, 'rate=',review_rate[i]

77079
77445
78526
business_id
5UmKMjUEUNdYWqANhGckJw   2015-10-31
Name: date, dtype: datetime64[ns]
i = 0 first_date =  2012-08-01 last_date = 2015-10-31 delta= 1186.0 rate= 0.101180438449
i = 1000 first_date =  2008-10-17 last_date = 2008-10-17 delta= 0.0 rate= 0.0
i = 2000 first_date =  2008-11-01 last_date = 2015-09-21 delta= 2515.0 rate= 0.0596421471173
i = 3000 first_date =  2008-06-25 last_date = 2015-10-22 delta= 2675.0 rate= 0.11214953271
i = 4000 first_date =  2010-07-01 last_date = 2012-06-28 delta= 728.0 rate= 0.123626373626
i = 5000 first_date =  2007-09-28 last_date = 2015-11-06 delta= 2961.0 rate= 0.182370820669
i = 6000 first_date =  2013-02-03 last_date = 2015-08-16 delta= 924.0 rate= 0.227272727273
i = 7000 first_date =  2014-09-03 last_date = 2015-06-29 delta= 299.0 rate= 0.301003344482
i = 8000 first_date =  2011-03-06 last_date = 2015-10-20 delta= 1689.0 rate= 0.319715808171
i = 9000 first_date =  2008-05-17 last_date = 2008-05-17 delta= 0.0 rate= 0.0
i = 10000 first_date =  2013-01-15 last_date = 2015-11-10 delta= 1029.0 rate= 0.291545189504
i = 11000 first_date =  2008-09-26 last_date = 2015-09-13 delta= 2543.0 rate= 0.200550530869
i = 12000 first_date =  2010-09-28 last_date = 2015-06-19 delta= 1725.0 rate= 0.15652173913
i = 13000 first_date =  2012-01-15 last_date = 2015-10-22 delta= 1376.0 rate= 0.239825581395
i = 14000 first_date =  2010-02-05 last_date = 2015-04-22 delta= 1902.0 rate= 0.0473186119874
i = 15000 first_date =  2013-02-26 last_date = 2015-09-19 delta= 935.0 rate= 0.352941176471
i = 16000 first_date =  2011-08-17 last_date = 2015-10-01 delta= 1506.0 rate= 0.219123505976
i = 17000 first_date =  2012-01-14 last_date = 2015-06-08 delta= 1241.0 rate= 0.0966962127317
i = 18000 first_date =  2012-04-18 last_date = 2015-12-19 delta= 1340.0 rate= 0.425373134328
i = 19000 first_date =  2006-03-27 last_date = 2010-10-17 delta= 1665.0 rate= 0.612612612613
i = 20000 first_date =  2007-03-08 last_date = 2012-04-01 delta= 1851.0 rate= 0.097244732577
i = 21000 first_date =  2011-02-18 last_date = 2013-04-29 delta= 801.0 rate= 0.187265917603
i = 22000 first_date =  2012-10-22 last_date = 2015-11-06 delta= 1110.0 rate= 0.837837837838
i = 23000 first_date =  2008-07-02 last_date = 2015-10-20 delta= 2666.0 rate= 0.0900225056264
i = 24000 first_date =  2012-03-26 last_date = 2015-12-22 delta= 1366.0 rate= 0.0878477306003
i = 25000 first_date =  2010-01-30 last_date = 2015-10-18 delta= 2087.0 rate= 0.172496406325
i = 26000 first_date =  2007-09-14 last_date = 2015-07-05 delta= 2851.0 rate= 0.88390038583
i = 27000 first_date =  2008-03-13 last_date = 2015-06-23 delta= 2658.0 rate= 0.0677200902935
i = 28000 first_date =  2008-07-24 last_date = 2015-12-24 delta= 2709.0 rate= 2.49169435216
i = 29000 first_date =  2014-11-15 last_date = 2015-10-26 delta= 345.0 rate= 0.260869565217
i = 30000 first_date =  2011-06-11 last_date = 2015-12-18 delta= 1651.0 rate= 0.218049666869
i = 31000 first_date =  2008-10-06 last_date = 2010-08-15 delta= 678.0 rate= 0.132743362832
i = 32000 first_date =  2010-03-26 last_date = 2015-12-02 delta= 2077.0 rate= 0.231102551757
i = 33000 first_date =  2010-07-01 last_date = 2014-01-06 delta= 1285.0 rate= 0.0700389105058
i = 34000 first_date =  2008-07-20 last_date = 2015-10-16 delta= 2644.0 rate= 0.283661119516
i = 35000 first_date =  2009-05-28 last_date = 2010-08-04 delta= 433.0 rate= 0.207852193995
i = 36000 first_date =  2011-11-09 last_date = 2015-03-26 delta= 1233.0 rate= 0.316301703163
i = 37000 first_date =  2009-12-10 last_date = 2015-12-10 delta= 2191.0 rate= 0.0958466453674
i = 38000 first_date =  2011-09-09 last_date = 2015-05-23 delta= 1352.0 rate= 0.199704142012
i = 39000 first_date =  2010-01-27 last_date = 2015-10-23 delta= 2095.0 rate= 0.816229116945
i = 40000 first_date =  2011-09-22 last_date = 2015-12-24 delta= 1554.0 rate= 0.0579150579151
i = 41000 first_date =  2011-11-21 last_date = 2015-11-17 delta= 1457.0 rate= 0.185312285518
i = 42000 first_date =  2010-04-13 last_date = 2015-11-13 delta= 2040.0 rate= 0.485294117647
i = 43000 first_date =  2012-07-28 last_date = 2013-10-29 delta= 458.0 rate= 0.327510917031
i = 44000 first_date =  2010-05-11 last_date = 2011-01-31 delta= 265.0 rate= 0.566037735849
i = 45000 first_date =  2010-07-08 last_date = 2015-11-15 delta= 1956.0 rate= 0.230061349693
i = 46000 first_date =  2010-08-07 last_date = 2011-05-05 delta= 271.0 rate= 0.332103321033
i = 47000 first_date =  2010-10-16 last_date = 2015-10-01 delta= 1811.0 rate= 0.198785201546
i = 48000 first_date =  2011-01-31 last_date = 2015-12-22 delta= 1786.0 rate= 0.31914893617
i = 49000 first_date =  2011-03-26 last_date = 2015-10-25 delta= 1674.0 rate= 1.09318996416
i = 50000 first_date =  2011-06-05 last_date = 2015-09-25 delta= 1573.0 rate= 0.267005721551
i = 51000 first_date =  2011-12-08 last_date = 2015-10-13 delta= 1405.0 rate= 0.790035587189
i = 52000 first_date =  2011-10-25 last_date = 2015-10-21 delta= 1457.0 rate= 0.247083047358
i = 53000 first_date =  2012-07-27 last_date = 2015-10-25 delta= 1185.0 rate= 0.53164556962
i = 54000 first_date =  2012-02-23 last_date = 2015-05-01 delta= 1163.0 rate= 0.0773860705073
i = 55000 first_date =  2012-12-28 last_date = 2015-09-11 delta= 987.0 rate= 0.273556231003
i = 56000 first_date =  2012-10-26 last_date = 2015-09-27 delta= 1066.0 rate= 0.196998123827
i = 57000 first_date =  2014-03-23 last_date = 2015-10-21 delta= 577.0 rate= 0.311958405546
i = 58000 first_date =  2010-08-04 last_date = 2015-12-16 delta= 1960.0 rate= 0.275510204082
i = 59000 first_date =  2012-11-27 last_date = 2015-11-25 delta= 1093.0 rate= 0.494053064959
i = 60000 first_date =  2013-01-28 last_date = 2013-10-31 delta= 276.0 rate= 5.21739130435
i = 61000 first_date =  2013-06-22 last_date = 2015-10-13 delta= 843.0 rate= 0.462633451957
i = 62000 first_date =  2013-04-28 last_date = 2015-08-13 delta= 837.0 rate= 0.143369175627
i = 63000 first_date =  2013-09-19 last_date = 2015-12-07 delta= 809.0 rate= 1.55747836836
i = 64000 first_date =  2013-08-10 last_date = 2015-10-13 delta= 794.0 rate= 0.566750629723
i = 65000 first_date =  2013-08-03 last_date = 2015-12-01 delta= 850.0 rate= 0.529411764706
i = 66000 first_date =  2013-10-21 last_date = 2015-12-15 delta= 785.0 rate= 1.91082802548
i = 67000 first_date =  2013-12-13 last_date = 2015-10-24 delta= 680.0 rate= 0.132352941176
i = 68000 first_date =  2014-02-28 last_date = 2015-09-10 delta= 559.0 rate= 0.590339892665
i = 69000 first_date =  2014-06-29 last_date = 2015-12-02 delta= 521.0 rate= 0.63339731286
i = 70000 first_date =  2014-06-09 last_date = 2015-07-06 delta= 392.0 rate= 0.382653061224
i = 71000 first_date =  2014-09-16 last_date = 2014-11-03 delta= 48.0 rate= 1.875
i = 72000 first_date =  2014-10-04 last_date = 2015-09-26 delta= 357.0 rate= 0.672268907563
i = 73000 first_date =  2015-05-23 last_date = 2015-10-09 delta= 139.0 rate= 2.15827338129
i = 74000 first_date =  2015-03-10 last_date = 2015-12-17 delta= 282.0 rate= 0.531914893617
i = 75000 first_date =  2015-04-29 last_date = 2015-10-01 delta= 155.0 rate= 0.967741935484
i = 76000 first_date =  2015-07-21 last_date = 2015-12-22 delta= 154.0 rate= 5.25974025974
i = 77000 first_date =  2015-10-05 last_date = 2015-10-11 delta= 6.0 rate= 15.0

In [74]:
first_date = first_date[0:len(business)]
last_date = last_date[0:len(business)]

print len(business), len(first_date), len(last_date), len(review_rate), len(is_restaurant)
print first_date[100], last_date[100], review_rate[100]
business['first_date'] = first_date
business['last_date'] = last_date
business['review_rate'] = review_rate
business['days_open'] = days_open
business['is_restaurant'] = is_restaurant

77445 77445 77445 77445 77445
2012-11-11 2015-03-02 0.214030915577

In [3]:
#business.to_pickle('business_and_rates')
business = pd.read_pickle('business_and_rates')
print business.head(0)

Empty DataFrame
Columns: [attributes.Ambience.divey, attributes.Dietary Restrictions.vegan, attributes.Happy Hour, hours.Thursday.open, attributes.Order at Counter, attributes.Hair Types Specialized In.africanamerican, attributes.Hair Types Specialized In.kids, attributes.BYOB, hours.Friday.open, attributes.Good For.latenight, attributes.Outdoor Seating, attributes.Alcohol, attributes.Ambience.classy, attributes.By Appointment Only, attributes.Parking.lot, attributes.Ambience.touristy, attributes.Corkage, hours.Tuesday.open, attributes.Good For.brunch, categories, attributes.Waiter Service, hours.Monday.open, name, attributes.Parking.street, attributes.Ambience.hipster, attributes.BYOB/Corkage, attributes.Hair Types Specialized In.straightperms, attributes.Music.live, attributes.Dietary Restrictions.dairy-free, attributes.Music.background_music, attributes.Price Range, attributes.Good For.breakfast, attributes.Parking.garage, attributes.Music.karaoke, attributes.Good For Dancing, review_count, attributes.Hair Types Specialized In.asian, state, attributes.Accepts Credit Cards, hours.Friday.close, attributes.Good For.lunch, attributes.Parking.valet, attributes.Take-out, full_address, hours.Thursday.close, attributes.Hair Types Specialized In.coloring, attributes.Good For.dessert, attributes.Music.video, attributes.Dietary Restrictions.halal, attributes.Takes Reservations, hours.Saturday.open, attributes.Ages Allowed, attributes.Ambience.trendy, attributes.Delivery, hours.Wednesday.close, attributes.Wi-Fi, open, city, attributes.Wheelchair Accessible, attributes.Dietary Restrictions.gluten-free, stars, attributes.Dietary Restrictions.kosher, type, attributes.Caters, attributes.Ambience.intimate, latitude, attributes.Good For.dinner, attributes.Coat Check, longitude, hours.Monday.close, attributes.Hair Types Specialized In.extensions, hours.Tuesday.close, hours.Saturday.close, attributes.Good for Kids, attributes.Parking.validated, hours.Sunday.open, attributes.Accepts Insurance, attributes.Music.dj, attributes.Dietary Restrictions.soy-free, attributes.Has TV, hours.Sunday.close, attributes.Ambience.casual, attributes.Hair Types Specialized In.perms, attributes.Dogs Allowed, attributes.Drive-Thru, attributes.Dietary Restrictions.vegetarian, hours.Wednesday.open, attributes.Noise Level, attributes.Smoking, attributes.Attire, attributes.Hair Types Specialized In.curly, attributes.Good For Groups, neighborhoods, attributes.Open 24 Hours, attributes.Ambience.romantic, attributes.Music.jukebox, attributes.Ambience.upscale, first_date, last_date, review_rate, ...]
Index: []

[0 rows x 102 columns]

In [79]:
from bokeh.models import ColumnDataSource, Range1d, LabelSet, Label, HoverTool
TOOLS = "pan,wheel_zoom,box_zoom,reset"

bus_subset = business[business['review_rate'] > 0]
bus_subset = bus_subset[bus_subset['is_restaurant'] == True]

rev_rate_avg = np.zeros(20)
rev_rate_std = np.zeros(20)
num_rate_avg = np.zeros(20)

rate_arr = np.zeros(21)
rate_arr_avg = np.zeros(21)
for i in range(len(rev_rate_avg)):
    rate_arr[i+1] = rate_arr[i] + 200
    rate_arr_avg[i+1] = rate_arr_avg[i]+200

print rate_arr
print rate_arr_avg

for i in range (1,len(rate_arr)):
        bus_subsubset = bus_subset[(bus_subset['days_open'] > rate_arr[i-1]) & (bus_subset['days_open'] < rate_arr[i])]
        rev_rate_avg[i-1] = bus_subsubset['review_rate'].mean()
        rev_rate_std[i-1] = bus_subsubset['review_rate'].std()
        num_rate_avg[i-1] = len(bus_subsubset['review_rate'])
        
print rev_rate_avg
print num_rate_avg

x = rate_arr_avg
y = rev_rate_avg

p = figure(tools=["pan","wheel_zoom","box_zoom","reset"], title='Review Rate versus Days Open', 
      x_axis_label='Days Open', y_axis_label = 'Review Rate', y_range=(0, 4))

p.xaxis.axis_label_text_font_size = "20pt"
p.yaxis.axis_label_text_font_size = "20pt"
p.xaxis.axis_label_text_font_style = "normal"
p.yaxis.axis_label_text_font_style = "normal"
p.yaxis.major_label_text_font_size = "15pt"
p.xaxis.major_label_text_font_size = "15pt"

#p.square(x, y)
p.square(x,y, size=rev_rate_std*10)

output_file("result.html")
show(p)

[    0.   200.   400.   600.   800.  1000.  1200.  1400.  1600.  1800.
  2000.  2200.  2400.  2600.  2800.  3000.  3200.  3400.  3600.  3800.
  4000.]
[    0.   200.   400.   600.   800.  1000.  1200.  1400.  1600.  1800.
  2000.  2200.  2400.  2600.  2800.  3000.  3200.  3400.  3600.  3800.
  4000.]
[ 6.69422003  2.31616583  1.66452292  1.42383638  1.13381794  1.06155857
  0.77534707  0.72360032  0.68585504  0.8306556   0.85971875  0.66507422
  0.79393207  0.90175171  1.06860039  1.11163258  1.68222291  1.81337193
  2.38059837  3.76338703]
[ 2593.  2795.  2618.  2637.  2486.  2387.  2129.  2204.  2137.  2111.
  1772.  1526.  1638.  1451.  1041.  1047.   700.   372.   253.    79.]

In [91]:
from bokeh.models import ColumnDataSource, Range1d, LabelSet, Label, HoverTool
TOOLS = "pan,wheel_zoom,box_zoom,reset"

bus_subset = business[business['review_rate'] > 0]
bus_subset = bus_subset[bus_subset['is_restaurant'] == True]

rev_rate_avg = np.zeros(5)
rev_rate_std = np.zeros(5)
num_rate_avg = np.zeros(5)

print rate_arr
print rate_arr_avg

for i in range (0,len(rev_rate_avg)):
        bus_subsubset = bus_subset[(bus_subset['stars'] > float(i)) & (bus_subset['stars'] < float(i+1))]
        rev_rate_avg[i] = bus_subsubset['review_rate'].mean()
        rev_rate_std[i] = bus_subsubset['review_rate'].std()
        num_rate_avg[i] = len(bus_subsubset['review_rate'])

print rev_rate_avg
print num_rate_avg        
        
x = [0.5, 1.5, 2.5, 3.5, 4.5]
y = rev_rate_avg

p = figure(tools=["pan","wheel_zoom","box_zoom","reset"], title='Review Rate versus Star Rating', 
      x_axis_label='Star Rating', y_axis_label = 'Review Rate', y_range=(0, 3))

p.xaxis.axis_label_text_font_size = "20pt"
p.yaxis.axis_label_text_font_size = "20pt"
p.xaxis.axis_label_text_font_style = "normal"
p.yaxis.axis_label_text_font_style = "normal"
p.yaxis.major_label_text_font_size = "15pt"
p.xaxis.major_label_text_font_size = "15pt"

#p.square(x, y)
p.square(x,y, size=rev_rate_std*10.)

output_file("result.html")
show(p)

[    0.   200.   400.   600.   800.  1000.     0.     0.     0.     0.
     0.     0.     0.     0.     0.     0.     0.     0.     0.     0.
     0.]
[   0.  200.  400.  600.  800.]
[        nan  0.59160968  0.83301545  1.48458823  2.34617531]
[    0.   550.  3171.  8755.  4751.]

In [7]:
from bokeh.models import ColumnDataSource, Range1d, LabelSet, Label, HoverTool
TOOLS = "pan,wheel_zoom,box_zoom,reset"

bus_subset = business[business['review_rate'] > 0]
bus_subset = bus_subset[bus_subset['is_restaurant'] == True]

rev_rate_avg = np.zeros(5)
rev_rate_std = np.zeros(5)
num_rate_avg = np.zeros(5)

print rate_arr
print rate_arr_avg

for i in range (0,len(rev_rate_avg)):
        bus_subsubset = bus_subset[(bus_subset['stars'] > float(i)) & (bus_subset['stars'] < float(i+1))]
        rev_rate_avg[i] = bus_subsubset['days_open'].mean()
        rev_rate_std[i] = bus_subsubset['days_open'].std()
        num_rate_avg[i] = len(bus_subsubset['days_open'])

print rev_rate_avg
print num_rate_avg        
        
x = [0.5, 1.5, 2.5, 3.5, 4.5]
y = rev_rate_avg

p = figure(tools=["pan","wheel_zoom","box_zoom","reset"], title='Days Open versus Star Rating', 
      x_axis_label='Star Rating', y_axis_label = 'Days Open')

p.xaxis.axis_label_text_font_size = "20pt"
p.yaxis.axis_label_text_font_size = "20pt"
p.xaxis.axis_label_text_font_style = "normal"
p.yaxis.axis_label_text_font_style = "normal"
p.yaxis.major_label_text_font_size = "15pt"
p.xaxis.major_label_text_font_size = "15pt"

#p.square(x, y)
p.square(x,y, size=rev_rate_std*0.1)

output_file("result.html")
show(p)

NameError: name 'rate_arr' is not defined

In [9]:
from bokeh.charts import Histogram

#p = Histogram(business['stars'], title="star ratings")
#p = Histogram(business['days_open'], title="days open")
p = Histogram(bus_subset['review_rate'], title="review rate")
output_file("histogram.html")

show(p)

In [38]:
city_list = reviews['city'].unique()
    
rev_by_city = reviews.groupby(['city']).count()
rev_by_city2 = rev_by_city[rev_by_city['state'] > 800]

city_list = []

for c in rev_by_city2.index:
    city_list.append(c)

for c in city_list:
    print c,',',reviews[reviews['city']==c].state.iloc[0]
    

#MontrMontr\xc3\xa9al is Montréal

Anthem , AZ
Apache Junction , AZ
Avondale , AZ
Belmont , NC
Buckeye , AZ
Carefree , AZ
Casa Grande , AZ
Cave Creek , AZ
Champaign , IL
Chandler , AZ
Charlotte , NC
Concord , NC
Dallas , TX
Edinburgh , EDH
Fitchburg , WI
Fort Mill , SC
Fountain Hills , AZ
Gilbert , AZ
Glendale , AZ
Goodyear , AZ
Henderson , NV
Homestead , PA
Karlsruhe , BW
Kitchener , ON
Las Vegas , NV
Laval , QC
Laveen , AZ
Litchfield Park , AZ
Madison , WI
Maricopa , AZ
Matthews , NC
Mesa , AZ
Middleton , WI
Monona , WI
Montreal , QC
Montréal , QC
North Las Vegas , NV
Paradise Valley , AZ
Peoria , AZ
Phoenix , AZ
Pineville , NC
Pittsburgh , PA
Queen Creek , AZ
San Tan Valley , AZ
Scottsdale , AZ
Sun City , AZ
Sun Prairie , WI
Surprise , AZ
Tempe , AZ
Tolleson , AZ
Urbana , IL
Verdun , QC
Waterloo , ON
Wickenburg , AZ

In [69]:
my_string = 'blah ugh blah'
if 'ah' in my_string:
    print 'ok'

ok